* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.main {
    width: 250px;
    height: 400 px;
    border: 1px dashed gray;
    box-shadow: 1px 1px black;
    border-radius: 10px;
    background-color: lightblue;
}

.main h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    text-align: center;

}
.profilePic {
    width: 75px;
    border-radius: 50%;
    box-shadow: 4px 4px goldenrod;
    text-align: center;
    display: block;
    margin: 0 auto;
    /* height: 75px; */
}

.part2 {
    margin: 10px 5px;
}
.part2 p, .part2 span {
    font-size: 10pt;
    padding: 3px;
}
.part2 span {
    font-weight: bold;
}
.btn {
display: block;
margin: 0 auto;
padding: 5px;
}