<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Heroes</h1>

  <form action="/add_hero" method="post">
    {% csrf_token %}
    <p>Name<input type="text" name="name" /></p>
    <p>Description<input type="text" name="description" /></p>
    <p>Image URL<input type="text" name="image" /></p>
    <button type="submit">Add Hero!</button>
  </form>

  <table>
    <thead>
      <tr>
        <td>Image</td>
        <td>Name</td>
      </tr>
    </thead>
    <tbody>
      {% for hero in all_heroes %}
      <tr>
        <td><img src="{{ hero.image }}" alt="{{ hero.name }}" style="width: 100px; height: 100px;"></td>
        <td><a href="/heroes/{{ hero.id }}">{{ hero.name }}</a></td>
      </tr>
      {% endfor %}
      <!-- What error would we have it we forgot ^ ? -->
    </tbody>
  </table>

</body>
</html>