<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to KSA Gym</h1>
  <img src="https://www.glatfelterpublicpractice.com/portals/gpp/images/Headers/playground-safety.jpg" alt="Gym Image">
  <form action="/register" method="post">
    {% csrf_token %}
    <p>Username: <input type="text" name="username"></p>
    <button type="submit">Register</button>
  </form>
</body>
</html>